
<center>
<h2>Your score:  {{score}} </h2><br><br>
<img src="https://media3.giphy.com/media/7fcZZqEN6Ubq8/200w.webp">

<br><br>

<h5>High Scores</h5>
{{#each score}}
{{this.score}} <br>
<hr>
{{/each}}

</center>